@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,200;0,500;1,400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Otomanopee One', sans-serif;
}
.main-content{
    height: 100vh;
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url("eiduladha.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.main-content > h1{
    font-size: 45px;
    background-color: rgb(213, 218, 218, 0.2);
}
.countdown{
    display: flex;
    text-align: center;
    
}
.countdown > div{
    width: 150px;
    padding: 30px 0px;
    background-color: rgb(0, 112, 114,0.5);
    margin: 20px;
    border-radius: 8px;
}
.countdown > div > span{
    font-size: 20px;
}
.countdown > div > div{
    font-size: 35px;
}
.footer{
    height: 50px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto Mono', monospace;
    
}
.footer > a{
    height: 50px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(45, 46, 46, 0.5);
}
